numpy
pandas
seaborn
scikit-learn
huggingface_hub
llama-index
llama-index-llms-huggingface
llama-index-embeddings-huggingface
transformers
accelerate
bitsandbytes
llama-index-readers-web
matplotlib
flash-attn
gradio
string
nltk
re
wordcloud